<!-- HEADER -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center me-4" routerLink=""
        ><i class="bi bi-controller p-2"></i>
        Game Mania
      </a>
      <button
        class="navbar-toggler me-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse text-white"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""
              ><i class="bi bi-house ms-5 p-2"></i>Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/games"
              ><i class="bi bi-joystick p-2"></i>Jogos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pc-gamer"
              ><i class="bi bi-pc-display p-2"></i>PC Gamer</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hardware"
              ><i class="bi bi-cpu p-2"></i>Hardware</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"
              ><i class="bi bi-person p-2"></i>Sobre Nós</a
            >
          </li>
        </ul>

        <div class="text-center me-4 mb-2">
          <a routerLink="/login"
            ><button type="button" class="btn btn-outline-light mt-3 p-2 me-2">
              Entrar
            </button></a
          >
          <a routerLink="/register"
            ><button type="button" class="btn btn-outline-info mt-3 p-2">
              Cadasre-se
            </button></a
          >
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="login text-center text-white mt-5 py-5">
  <main class="form-signin">
    <form #userForm="ngForm" (ngSubmit)="submit()">
      <i class="bi bi-shield-lock"></i>
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating text-black">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          name="email"
          [(ngModel)]="userModel.email"
        />
        <label for="email">Email</label>
      </div>
      <div class="form-floating text-black">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Senha"
          name="password"
          [(ngModel)]="userModel.password"
        />
        <label for="password">Senha</label>
      </div>
      <div data-js="passInfo" class="container password-info d-none">
        <i class="bi bi-icon-info-circle"></i>
        <p>Digite uma senha com os seguintes requesitos:</p>
        <ul>
          <li>Mínimo de 8 caracteres <i class="bi bi-check-lg ms-2"></i></li>
          <li>Pelo menos um número <i class="bi bi-check-lg ms-2"></i></li>
          <li>
            Pelo menos uma letra minúscula <i class="bi bi-check-lg ms-2"></i>
          </li>
          <li>
            Pelo menos uma letra Maúscula <i class="bi bi-check-lg ms-2"></i>
          </li>
        </ul>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Relembre-me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-outline-light" type="submit">
        Entrar
      </button>
      <p class="mt-5">
        Ainda não é inscrito?
        <a routerLink="register" class="ms-2">Cadastre-se</a>
      </p>
    </form>
  </main>
</div>
<!-- FOOTER -->
<footer class="container-fluid border-top bg-black text-white" id="footer">
  <div class="container">
    <div class="row">
      <!-- FOOTER TOP -->
      <div class="col-12" id="footer-top">
        <div class="row justify-content-between">
          <div class="col-sm-12 col-md-6 mb-sm-3">
            <h2>Game Mania</h2>
          </div>
          <div class="col-sm-12 col-md-6" id="social-icons">
            <a
              href="https://github.com/allanfarias1988"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/allanfarias1988/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a
              href="https://twitter.com/allanfarias1988"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-twitter"></i
            ></a>
            <a
              href="https://www.instagram.com/allanfarias1988/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- FOOTER DETAILS -->
      <div class="col-12" id="footer-details">
        <div class="row">
          <div class="col-12 col-md-4" id="news-container">
            <h4>Receba as melhores ofertas</h4>
            <p class="secondary-color">Inscreva-se</p>
            <form>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Digite o seu e-mail"
                />
              </div>
              <button class="btn btn-outline-light">Inscrever</button>
            </form>
          </div>
          <div class="col-12 col-md-4" id="contact-container">
            <h4>Formas de contato</h4>
            <p class="secondary-color">
              <i class="bi bi-whatsapp text-info me-2"></i> (73) 9999-9999
            </p>
            <p class="secondary-color">
              <i class="bi bi-google text-info me-2"></i>
              allan.digitaltec@gmail.com
            </p>
          </div>
          <div class="col-12 col-md-4" id="links-container">
            <div class="row">
              <h4>Você pode estar buscando por:</h4>
              <div class="col-12">
                <ul class="list-unstyled">
                  <li>
                    <a routerLink="/games" class="secondary-color"
                      ><i class="bi bi-joystick me-2"></i>Jogos</a
                    >
                  </li>
                  <li>
                    <a routerLink="/pc-gamer" class="secondary-color"
                      ><i class="bi bi-pc-display me-2"></i>PC Gamer</a
                    >
                  </li>
                  <li>
                    <a routerLink="/hardware" class="secondary-color"
                      ><i class="bi bi-cpu me-2"></i>Hardware</a
                    >
                  </li>
                  <li>
                    <a routerLink="/about" class="secondary-color"
                      ><i class="bi bi-person me-2"></i>Sobre nós</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER BOTTOM -->
      <div class="col-12" id="footer-bottom">
        <div class="row justify-content-center">
          <div class="col-12 col-md-3">
            <p class="secondary-color text-center">Game Mania &copy; 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
